.flightSearchApp {
  padding: 20px;
  .returnWidthTitle {
    width: 50%;
    float: left;
  }
  .returnWidthContent {
    width: 37.5%;
    float: left;
  }
  .oneWayWidthTitle {
    width: 75%;
  }
.appTitle{
  text-align: left;
  border: solid 1px black;
}
.searchFormWrapper{
  height: 100vh;
  width: 25%;
  float: left;
  border: solid 1px black;
  padding-top: 50px;
  .active{
    background-color: #337DFF; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: solid 1px black; 
  }
  .inactive{
    padding: 10px 32px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: solid 1px black;
  }
}
  .tabWrapper{
    text-align: left;
  }
  .searchForm{
    .formWrapper{
      border: solid 1px black;
      width: 98%;
      padding: 10px;
      .searchButton{
        background-color: #337DFF; /* Green */
        border: none;
        padding: 10px 32px;
        color: white;
        border-radius: 5px;  
      }
      .passengersInput{
        margin-bottom: 10px;
        width: 100%; 
        select{
          padding: 12px;
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .searchButtonWrapper{
      text-align: left
    }
}
.flightsWrapper{
  height: 100vh;
  border: solid 1px black;
}
.flightsList{
  float: left;
  border: solid 1px black;
  padding: 10px;
}
.flightsRoute{
  float: left;
  width: 75%;
  border: solid 1px black;
  padding: 10px;
  border-top:none;
  border-bottom:none; 
}
.flightsRouteDetails{
  float: left;
  // width: 100%;
  text-align: left;
}
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
.datePicker{
  margin-bottom: 10px;
}
input{
  width: 100%;
  border: solid 1px black;
  border-radius: 5px;
}

input {
  border: 1px solid black;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
} 
.card-wrapper{
  margin: 0 0 10px 0;
  border: solid 1px gray;
  padding: 12px 15px 13px 15px;
  overflow: hidden;
  .departureTabMain{
    .flightsLogoInfo{
      float: left;
      width: 10%;
    }
    .flightsCompanyInfo{
      float: left;
      width: 10%;
    }
    .flightsDepartTime{
      width: 15%;
      float: left;
    }
    .flightsArrivalTime{
      width: 10%;
      float: left;
    }

    .flightsDurationTime{
      width: 10%;
      float: left;
    }
    .flightsPrice{
      width: 20%;
      float: left;
      .css-currency {
          span{
            color: #e03535;
          }
      }
    }
    .bookButton{
      width: 20%;
      float: left;
      button{
        width: 100%;
        max-width:90px;
        background: #e03535;
        border: solid 1px red;
        color: white;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

ul {
  padding: 20px;
}
}